<div class="flex flex-col min-h-dvh max-h-dvh max-w-dvw overflow-hidden">
    <app-header></app-header>
    <div class="flex justify-center text-4xl font-bold font-mono my-10 dark:text-neutral-100">
        <div class="inline-flex items-center mx-5">
            <svg class="size-12 bg-white rounded-full">
                <use href="/assets/icons/sprite.svg#icon-edu" />
            </svg>
            <h1 class="mx-2">{{'education' | translate}}</h1>
        </div>
       
    </div>
    <!-- Grid -->
    <div class="mx-10 space-y-5 flex flex-col my-10 items-center h-full">
        <div id="cont1" class="p-4 border border-gray-200 rounded-lg dark:border-neutral-700 w-full max-w-2xl overflow-hidden">
            <svg class="text-black dark:text-white size-20 shrink-0">
                <use href="/assets/icons/sprite.svg#grao-icon" />
            </svg>

            <h3 class="mb-1 text-lg md:text-sm text-gray-600 dark:text-neutral-400">
                2023 - {{'present' | translate}}
            </h3>

            <p class="font-semibold text-lg md:text-sm text-gray-800 dark:text-neutral-200">
                {{'advanced' | translate}}
            </p>

            <p class="mt-1 text-lg md:text-sm text-gray-600 dark:text-neutral-400">
                I.E.S El Grao
            </p>
        </div>

        <div id="cont2" class="p-4 border border-gray-200 rounded-lg dark:border-neutral-700 w-full max-w-2xl overflow-hidden">
            <svg class="text-black dark:text-white size-20 shrink-0">
                <use href="/assets/icons/sprite.svg#baleares-icon" />
            </svg>

            <h3 class="mb-1 text-xs text-gray-600 dark:text-neutral-400">
                2010-2014
            </h3>

            <p class="font-semibold text-lg md:text-sm text-gray-800 dark:text-neutral-200">
                {{'bachelor' | translate}}
            </p>

            <p class="mt-1 text-lg md:text-sm text-gray-600 dark:text-neutral-400">
                I.E.S Baleares
            </p>
        </div>

        <div id="cont3" class="p-4 border border-gray-200 rounded-lg dark:border-neutral-700 w-full max-w-2xl overflow-hidden">
            <svg class="text-black dark:text-white size-20 shrink-0">
                <use href="/assets/icons/sprite.svg#baleares-icon" />
            </svg>
            <h3 class="mb-1 text-xs text-gray-600 dark:text-neutral-400">
                2010
            </h3>

            <p class="font-semibold text-lg md:text-sm text-gray-800 dark:text-neutral-200">
                {{'certificate' | translate}}
            </p>

            <p class="mt-1 text-lg md:text-sm text-gray-600 dark:text-neutral-400">
                I.E.S Baleares
            </p>
        </div>
    </div>
    <!-- End Grid -->
    <app-footer></app-footer>
</div>