<app-header></app-header>
<div class="flex justify-center font-bold font-mono mt-10 text-4xl dark:text-neutral-100">
    <h1>Projects</h1>
</div>
<div class="mx-10 py-5 flex justify-center">
    <p class="mt-1 text-lg md:text-sm text-gray-600 dark:text-neutral-400">
        Here you will find all my projects. I’ll update this section as soon as I have new projects to share.
    </p>
</div>
<!-- Card Grid -->
<div class="grow landscape:min-h-dvh py-12 grid px-10 grid-cols-1 sm:grid-cols-2 gap-8 lg:gap-12 lg:max-w-[1200px] mx-auto">
    <!-- Card -->
    <a class="group flex flex-col focus:outline-hidden sm:max-h-[600px]" href="https://github.com/Jacka97/ProyectoInventario" target="_blank">
        <div class="overflow-hidden bg-gray-100 rounded-2xl">
            <img class="group-hover:scale-105 group-focus:scale-105 transition-transform duration-500 ease-in-out object-cover h-full w-full rounded-2xl"
                src="/assets/imgs/logo-project-inventory.png"
                alt="Logo project">
        </div>

        <div class="pt-4">
            <h3
                class="relative inline-block font-medium text-lg text-black dark:text-white">
                Inventory
            </h3>
            <p class="mt-1 text-lg md:text-sm text-gray-600 dark:text-neutral-400">
                A group project developed with my classmates using Angular, PHP, and Bootstrap.
            </p>
        </div>
    </a>
    <!-- End Card -->

    <!-- Card -->
    <a class="group flex flex-col focus:outline-hidden" href="https://github.com/Desock/MyProjects/tree/main/Portfolio_Salva/ProyectoPortfolio" target="_blank">
        <div class="overflow-hidden bg-gray-100 rounded-2xl">
            <img class="group-hover:scale-105 group-focus:scale-105 transition-transform duration-500 ease-in-out object-cover h-full w-full rounded-2xl"
                src="/assets/imgs/welcome_foto_salvador.png"
                alt="Salva Portfolio">
        </div>

        <div class="pt-4">
            <h3
                class="relative inline-block font-medium text-lg text-black dark:text-white">
                Portfolio
            </h3>
            <p class="mt-1 text-lg md:text-sm text-gray-600 dark:text-neutral-400">
                If you'd like to see how this portfolio was created, click on the image.
            </p>
        </div>
    </a>
    
    <!-- End Card -->
</div>
<!-- End Card Grid -->
<app-footer></app-footer>