<app-header></app-header>
<div class="flex justify-center font-bold font-mono mt-10 text-4xl dark:text-neutral-100">
    <div class="inline-flex items-center mx-5">
        <svg class="size-12 dark:bg-white rounded-full">
            <use href="/assets/icons/sprite.svg#icon-project" />
        </svg>
        <h1 class="mx-4">Projects</h1>
    </div>

</div>
<div class="mx-10 py-5 flex justify-center">
    <p class="mt-1 text-lg md:text-sm text-gray-600 dark:text-neutral-400">
        Here you will find all my projects. I’ll update this section as soon as I have new projects to share.
    </p>
</div>
<!-- Card Grid -->
<div
    class="mx-10 space-y-5 flex flex-col my-10 items-center flex-grow">
    <!-- Card -->
    <a class="group flex flex-col items-center focus:outline-hidden"
        href="https://github.com/Desock/ProyectoInventario/tree/master" target="_blank">
        <div class="overflow-hidden rounded-2xl">
            <img class="group-hover:scale-105 group-focus:scale-105 transition-transform duration-500 ease-in-out object-cover rounded-2xl"
                src="/assets/imgs/logo-project-inventory.png" alt="Logo project" width="450" height="450">
        </div>

        <div class="p-2 my-4">
            <h3 class="relative inline-block font-bold text-lg text-black dark:text-white underline mx-1 my-1">
                Inventory
            </h3>
            <p class="mt-1 pb-5 items-start text-lg md:text-sm text-gray-600 dark:text-neutral-400 mx-1">
                A group project developed with my classmates using Angular, PHP, and Bootstrap.
            </p>
        </div>
    </a>
    <!-- End Card -->

    <!-- Card -->
    <a class="group flex flex-col items-center focus:outline-hidden"
        href="https://github.com/Desock/MyProjects/tree/main/Portfolio_Salva/ProyectoPortfolio" target="_blank">
        <div class="overflow-hidden rounded-2xl bg-white">
            <img class="group-hover:scale-105 group-focus:scale-105 transition-transform duration-500 ease-in-out object-cover rounded-2xl"
                src="/assets/imgs/welcome_foto_salvador.png" alt="Salva Portfolio" width="450" height="450">
        </div>

        <div class="p-2 my-4">
            <h3 class="relative inline-block font-bold text-lg text-black dark:text-white underline mx-1 my-1">
                Portfolio
            </h3>
            <p class="mt-1 pb-5 items-start text-lg md:text-sm text-gray-600 dark:text-neutral-400 mx-1">
                If you'd like to see how this portfolio was created, click on the image.
            </p>
        </div>
    </a>

    <!-- End Card -->
</div>
<!-- End Card Grid -->
<app-footer></app-footer>