<div class="flex flex-col min-h-dvh">
    <app-header></app-header>
    <div class="flex justify-center pb-2 font-bold font-mono mt-10 text-4xl dark:text-neutral-100">
        <div class="inline-flex items-center mx-5">
            <svg class="size-10">
                <use href="/assets/icons/sprite.svg#icon-skills" />
            </svg>
            <h1 class="mx-2">Skills</h1>
        </div>
        
    </div>
    <div class="mx-10 pt-5 flex justify-center">
        <p class="mt-1 text-lg md:text-sm text-gray-600 dark:text-neutral-400">
            This is all the knowledge I have gained from my studies and my career.
        </p>
    </div>
    <!-- List -->
    <div class="mx-2 inline-grid items-center justify-center flex-grow py-5">
        <dl class="mx-10 my-2 border border-gray-200 p-2 rounded-lg">
            <dt class="grow">
                <span class="text-lg md:text-sm text-gray-500 dark:text-gray-300">Design Tools Learned:</span>
            </dt>
            <dd>
                <ul>
                    <li class="me-1 my-1 flex items-center text-lg md:text-sm text-gray-800 dark:text-neutral-100">
                        <svg class="shrink-0 size-6 me-1 dark:fill-white">
                            <use href="./assets/icons/sprite.svg#icon-figma"></use>
                        </svg>
                        Figma
                    </li>
                </ul>
            </dd>
        </dl>

        <dl class="mx-10 my-2 border border-gray-200 p-2 rounded-lg">
            <dt class="grow">
                <span class="text-lg md:text-sm text-gray-500 dark:text-gray-300">Languages and Frameworks
                    learned:</span>
            </dt>
            <dd>
                <ul>
                    <li
                        class="me-1 mx-1 my-1 inline-flex items-center text-lg md:text-sm text-gray-800 dark:text-neutral-100">
                        <svg class="shrink-0 size-4 me-1 dark:fill-white">
                            <use href="./assets/icons/sprite.svg#icon-html5"></use>
                        </svg>
                        HTML
                    </li>
                    <li
                        class="me-1 mx-1 my-1 inline-flex items-center text-lg md:text-sm text-gray-800 dark:text-neutral-100">
                        <svg class="shrink-0 size-4 me-1 dark:fill-white">
                            <use href="./assets/icons/sprite.svg#icon-css3"></use>
                        </svg>
                        CSS
                    </li>
                    <li
                        class="me-1 mx-1 my-1 inline-flex items-center text-lg md:text-sm text-gray-800 dark:text-neutral-100">
                        <svg class="shrink-0 size-6 me-1 dark:fill-white">
                            <use href="./assets/icons/sprite.svg#icon-java"></use>
                        </svg>
                        Java
                    </li>
                    <li
                        class="me-1 mx-1 my-1 inline-flex items-center text-lg md:text-sm text-gray-800 dark:text-neutral-100">
                        <svg class="shrink-0 size-5 me-1 dark:fill-white" width="30" height="30">
                            <use href="./assets/icons/sprite.svg#icon-angular"></use>
                        </svg>
                        Angular
                    </li>
                    <li
                        class="me-1 mx-1 my-1 inline-flex items-center text-lg md:text-sm text-gray-800 dark:text-neutral-100">
                        <svg class="shrink-0 size-6 me-1 dark:fill-white">
                            <use href="./assets/icons/sprite.svg#icon-php"></use>
                        </svg>
                        PHP
                    </li>
                    <li
                        class="me-1 mx-1 my-1 inline-flex items-center text-lg md:text-sm text-gray-800 dark:text-neutral-100">
                        <svg class="shrink-0 size-6 me-1 dark:fill-white">
                            <use href="./assets/icons/sprite.svg#icon-js"></use>
                        </svg>
                        JavaScript
                    </li>
                    <li
                        class="me-1 mx-1 my-1 inline-flex items-center text-lg md:text-sm text-gray-800 dark:text-neutral-100">
                        <svg class="shrink-0 size-6 me-1 dark:fill-white">
                            <use href="./assets/icons/sprite.svg#icon-bootstrap"></use>
                        </svg>
                        Bootstrap
                    </li>
                </ul>
            </dd>
        </dl>

        <dl class="mx-10 my-2 border border-gray-200 p-2 rounded-lg">
            <dt class="grow">
                <span class="text-lg md:text-sm text-gray-500 dark:text-gray-300">Learning Languages and
                    Frameworks:</span>
            </dt>
            <dd>
                <ul>
                    <li
                        class="me-1 mx-1 my-1 inline-flex items-center text-lg md:text-sm text-gray-800 dark:text-neutral-100">
                        <svg class="shrink-0 size-6 me-1 dark:fill-white">
                            <use href="./assets/icons/sprite.svg#icon-tailwind"></use>
                        </svg>
                        Tailwind
                    </li>
                    <li
                        class="me-1 mx-1 my-1 inline-flex items-center text-lg md:text-sm text-gray-800 dark:text-neutral-100">
                        <svg class="shrink-0 size-6 me-1 dark:fill-white">
                            <use href="./assets/icons/sprite.svg#icon-laravel"></use>
                        </svg>
                        Laravel
                    </li>
                </ul>
            </dd>
        </dl>

        <dl class="mx-10 my-2 border border-gray-200 p-2 rounded-lg">
            <dt class="grow">
                <span class="text-lg md:text-sm text-gray-500 dark:text-gray-300">Design Expertise:</span>
            </dt>
            <dd>
                <ul>
                    <li
                        class="me-1 my-1 inline-flex items-center text-lg md:text-sm text-gray-800 dark:text-neutral-100">
                        UI/UX Design (Junior level),
                    </li>
                    <li
                        class="me-1 my-1 inline-flex items-center text-lg md:text-sm text-gray-800 dark:text-neutral-100">
                        Responsive Design (Junior level)
                    </li>
                </ul>
            </dd>
        </dl>

        <dl class="mx-10 my-2 border border-gray-200 p-2 rounded-lg">
            <dt class="grow">
                <span class="text-lg md:text-sm text-gray-500 dark:text-gray-300">Soft Skills:</span>
            </dt>
            <dd>
                <ul>
                    <li
                        class="me-1 my-1 inline-flex items-center text-lg md:text-sm text-gray-800 dark:text-neutral-100">
                        Strong communication,
                    </li>
                    <li
                        class="me-1 my-1 inline-flex items-center text-lg md:text-sm text-gray-800 dark:text-neutral-100">
                        Problem-solving,
                    </li>
                    <li
                        class="me-1 my-1 inline-flex items-center text-lg md:text-sm text-gray-800 dark:text-neutral-100">
                        Attention to detail,
                    </li>
                    <li
                        class="me-1 my-1 inline-flex items-center text-lg md:text-sm text-gray-800 dark:text-neutral-100">
                        Teamwork,
                    </li>
                    <li
                        class="me-1 my-1 inline-flex items-center text-lg md:text-sm text-gray-800 dark:text-neutral-100">
                        Fast-learning,
                    </li>
                    <li
                        class="me-1 my-1 inline-flex items-center text-lg md:text-sm text-gray-800 dark:text-neutral-100">
                        Fast-paced
                    </li>
                </ul>
            </dd>
        </dl>
    </div>
    <!-- End List -->
    <app-footer></app-footer>
</div>